---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="David AR - Porfolio Profesional">
  <main>
    <Hero />

    <div class="h-[500px]"></div>
  </main>
</Layout>
